<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATA732 - Mass Shooting in the US</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    
</head>
<body>
    <div class=grid-container>
        <div class="title center-text">Mass Shootings repartition in the US</div>
        <div class="barchart square"></div>
        <div class="map square center-text">Map of the United States Of America representing number of victims of mass shootings per state<br><button onclick="reset()">Global Data</button></div>
        <div class="title2 center-text"><a class="big-text">Informations about the killers of mass shooting, where the victims were random people</a><br>(Click on the charts to show the numbers)</div>
        <div class="pie1 square center-text">The shooter had mental health issues :</div>
        <div class="pie2 square center-text">Cause of the shooting :</div>
        <div class="pie3 square center-text">Race of the shooter : </div>
    </div>

<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<script src="javascripts/code.js"></script>

</body>
</html>


