<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATA732</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class=grid-container>
        <div class="title"></div>
        <div class="barchart"></div>
        <div class="map"></div>
        <div class="title2"></div>
        <div class="piechart"></div>
        <div class="pie1"></div>
        <div class="pie2"></div>
        <div class="pie3"></div>
    </div>

<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<script src="javascripts/code.js"></script>

</body>
</html>


