body {
  background-color: #d9d4ff;
  border-left-width: 0px;
  border-left-style: solid;
  margin-left: 20px;
  margin-right: 20px;
}

.background {
  fill: none;
  pointer-events: all;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  column-gap: 2vw;
  row-gap: 1vh;
  grid-auto-rows: auto 45vh auto 40vh auto;
}

.title {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 35px;
}

.title2 {
  grid-column: 1 / 4;
  grid-row: 3;
}

.barchart {
  grid-column: 1;
  grid-row: 2;
}

.center-text {
  text-align: center;
  padding-top: 10px;
}

.pie1 {
  grid-column: 1 ;
  grid-row: 4;
}

.pie2 {
  grid-column: 2 ;
  grid-row: 4;
}

.pie3 {
  grid-column: 3 ;
  grid-row: 4;
}

.map {
  grid-column: 2 / 4;
  grid-row: 2;
}

.square {
  background-color: whitesmoke;
  border-radius: 30px;
}

.big-text {
  font-size: 25px;
}

#states {
  fill: #aaa;
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #fff;
  stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
  fill: orange;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}