.background {
  fill: none;
  pointer-events: all;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 33vw);
  column-gap: 1vw;
  row-gap: 1vh;
  grid-auto-rows: auto 60vh auto auto auto auto auto;
}

.title {
  grid-column: 1 / 4;
  grid-row: 1;
}

.title2 {
  grid-column: 1 / 4;
  grid-row: 4;
}

.barchart {
  grid-column: 1;
  grid-row: 2;

}

.legend1 {
  grid-column: 1;
  grid-row: 3;
}

.legend2 {
  grid-column: 2/4;
  grid-row: 3;
  text-align: center;
}

.pie1 {
  grid-column: 1 ;
  grid-row: 6;
}

.pie2 {
  grid-column: 2 ;
  grid-row: 6;
}

.pie3 {
  grid-column: 3 ;
  grid-row: 6;
}

.legend3 {
  grid-column: 1;
  grid-row: 5;
  text-align: center;
}

.legend4 {
  grid-column: 2;
  grid-row: 5;
  text-align: center;
}

.legend5 {
  grid-column: 3;
  grid-row: 5;
  text-align: center;
}

.map {
  grid-column: 2 / 4;
  grid-row: 2;
}

.viz {
  grid-column: 1;
  grid-row: 4;
}


#states {
  fill: #aaa;
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #fff;
  stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
  fill: orange;
}

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}